*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "./carousel.min.css";

html,
body,
#app {
  font-size: 62.5%;
}

@font-face {
  font-family: "merienda-bold";
  src: url("../../assets/fonts/Merienda-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.container {
  height: 100%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 5rem;
}
